body {
    font-family: Arial, Helvetica, sans-serif;
}
#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-frog {
    animation-iteration-count: infinite;
    font-size: 4em;
    color: rgb(134, 212, 32);
    animation-duration: 1s;
    animation-name: heartbeat;
    /* animation-play-state: paused; */

}

.fa-frog:hover {
    animation-play-state: running;
}

@keyframes heartbeat {
    15% {
      transform: scale(1.2);
      /* color: rgb(9, 87, 9); */
    }
    30% {
      transform: scale(1);
      /* color: rgb(41, 155, 47); */
    }
    45% {
        transform: scale(1.2);
        /* color: rgb(60, 180, 29); */
    }
    60% {
      transform: scale(1);
    }
}
