/******************/
/* General Styles */
/******************/

body {
   font-family: Arial;
}

div {
    width: 200px;
    height: 200px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}


.one:hover {
    background-color: rgb(124, 12, 90);
   
    border-radius: 50%;
}

.two:hover {
    background-color: rgb(204, 13, 194);
   
    border-radius: 50%;
}

.three:hover {
    background-color: rgb(12, 79, 124);
   
    border-radius: 50%;
}